application/.apt_generated
application/target/*
application/.classpath
application/.project
application/.factorypath
application/bin/*
application/.setting/
application-it/target/**/*
application-it/.classpath
application-it/.project
application-it/bin/**/*
application-it/.setting
/.idea
/backlog-android-client-parent.iml
/application/backlog-android-client.iml
/application-it/backlog-android-client-it.iml